# --------------
#
# comments
# 
name: My_GitHub_Actions_Basics
# run-name необязателен
env:
    APPLICATION_NAME: "MyFlask"
    DEPLOY_PACKAGE_NAME    : "flask-deploy-ver-${{ github.sha }}"
# запуск по статусу (events)
# push в мастер ветку (файл запускается при таком условии)
on: [push]
    # github actions запускает докер контейнеры, job'ы может запускать в разных контейнерах  
jobs: # блок тасков
  my_testing:
  
    runs-on: ubuntu-latest # на чем гоняем таску
    steps: # таски
    - name: Print Hello message in Testing
      run: echo "hello, world from Testing job"

    - name: Execute few commands
      run: | 
          echo "Hello message 1"
          echo "Hello message 2"
          echo "APPlication name: ${{ env.APPLICATION_NAME }}"
    - name: List current folder
      run: ls -la
    ### копия файлов в докер контейнер - клонируем репозиторий (чекаут полный)
    - name: Git clone my repo
      uses: actions/checkout@v1

    - name: List current folder
      run: ls -la
    
  my_deploy:
    needs: [my_testing]
    runs-on: ubuntu-latest
    env:
        VAR1: "This is job level variable 1"
        VAR2: "This is job level variable 2"
        
    steps: # таски
    - name: Print Hello message in Deploy
      run: echo "Hello, world from Deploy job"
    
    - name: print env vars
      run: |
          echo "var1 = ${{ env.VAR1 }}"
          echo "var2 = ${{ env.VAR2 }}"
          echo "var3 = $LOCAL_VAR"
      env:
          LOCAL_VAR: "Local variable"

    - name: Printing deployment package
      run: echo "Deploy package name is ${{ env.DEPLOY_PACKAGE_NAME }}"

    - name: Test aws packages
      run: aws --version

    - name: Test zip packages
      run: zip --version
